@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');
* {
  margin: 0px;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
}

#app {
  max-width: 1450px;
  font-weight: normal;
}